**/.classpath
**/.settings
**/target
**/bin
**/android/gen
**/local.properties
*.mp3
*.DS_Store
*~
*.apk
*.ap
*/android/gen
*.jar
/target/

# intellij idea stuff
.idea/
ComSys_Challenge_Task.eml
ComSys_Challenge_Task.iml
